/env/
pycache/
*.pyc
.DS_Store
/data/published.json
*.log
/migration_raw_to_interim.log
/batch_waymo_boundaries.log
/tmp/

# Ignore local sources
Sources/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production
.env.development

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
