/*popup*/
.sponsored-content-popup {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: 0.35s;
}
.sponsored-content-popup.active {
    z-index: 100;
    opacity: 1;
    transition: 0.35s;
}
.bg-for-close-popup {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.5);	
}
.sponsored-content-popup .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.sponsored-content-popup .inner .box {
    position: relative;
    background-color: #fff;
    padding: 1rem 0;
    width: 100%;
    max-width: 13rem;
    height: auto;
    border-radius: 0.3rem;
    justify-content: center;
    display: flex;
    text-align: center;
}
.inner-content {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: flex-end;
}

.sponsored-content-popup .inner .box a {
    background-color: #c36;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
    display: inline-block; 
    border: 1px solid #c36;
}
.sponsored-content-popup .inner .box a:hover {
    background-color: transparent;
    color: #c36;
}
.sponsored-content-popup .inner .box .close-button {
    position: absolute;
    z-index: 1;
    top: -28%;
    right: -11%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}
.close-button svg {
    width: 100%;
    height: 100%;
}
/* end popup */

/**sponsored-content-inner**/
.sponsored-content-wrapper {
    width: 100%;
    background: #fff;
}
.sponsored-content-inner li {
    list-style: none;
    width: 100%;
    margin: 0rem auto 0rem;
    padding: 1rem 1rem 0;
    border-radius: 0.6rem;
}
.sponsored-content-inner li:last-child {
    padding-bottom: 1rem;
}
.sponsored-content-inner ul {
    padding: 0;
}
.sponsored-content-inner img {
    width: 100%;
    border-radius: 0.8rem;
	/* transition: all 1000ms ease; */
}
.sponsored-content-inner .image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
	border-radius: 0.5rem;
}
/* .sponsored-content-inner .image:hover img {
    opacity: 0.70;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
} */
/*********/

@media (max-width: 991px){

}
@media (max-width: 767px){
	
}
@media (max-width: 480px){
	
}